.category-section{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 2px
}
.category-scroll{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    align-items: center;
    scrollbar-width: none; /* For Firefox */
     -ms-overflow-style: none;
}
.category-scroll::-webkit-scrollbar {
    display: none;
}
.category-item{
    width: 100px;
    min-width: 100px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.category-item-image{
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 3px solid var(--c1);
}
