#mobile-menu{
    width: 100%;
    background-color: var(--c1);
    height: 60px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
}
@media (max-width: 1200px) {
    #mobile-menu{
        display: flex;
    }
}

.mobile-menu-item{
    padding: 10px;
    -webkit-box-shadow: 0px 0px 16px 0px var(--container-shadow);
    -moz-box-shadow: 0px 0px 16px 0px var(--container-shadow);
    box-shadow: 0px 0px 16px 0px var(--container-shadow);
    border-radius: 20px;
}
